p {margin-bottom: 0;}

.trip-app {
  padding: 32px;

  .container,
  .row,
  .trip-list {
    height: 100%;
  }
  .trip-list{
    overflow: scroll;
    overflow-x: hidden;

    .trip-item{
      padding: 24px 0;
      border: solid 1px;
      height: auto;
      background-color: #CFE2F3;
      cursor: pointer;

      &.selected {
        background-color: #F4CCCC;
      }
    }
  }
}
